@font-face {
  font-family: 'PlayfairDisplay';
  src: url(Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(Poppins/Poppins-Regular.ttf);
}

/* All viewports */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mobile-menu {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}

main {
  display: grid;
}

h1 {
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  margin: 30px 84px 20px 16px;
  color: #1a2236;
}

h2 {
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  color: #1a2236;
}

p {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  color: #1a2236;
}

#introduction > p {
  margin: 20px 16px 0 16px;
}

button {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

#introduction-button {
  margin: 40px 16px 32.31px 16px;
  width: 92%;
  height: 50px;
  background-color: #1a2236;
  color: #fff;
  cursor: pointer;
}

#introduction-button:hover {
  background-color: #fff;
  border: 1px solid #1a2236;
  color: #1a2236;
  font-size: 18px;
  line-height: 27px;
}

#introduction-button:active {
  background-color: #fff;
  border: 2px solid #1a2236;
  color: #1a2236;
  font-size: 18px;
  line-height: 27px;
}

#introduction > img {
  width: 100%;
  height: auto;
}

/* ==End of Introduction section== */

/* ==Beginning of Projects section== */

#projects {
  display: flex;
  flex-direction: column;
}

#projects > h2 {
  margin-left: 16px;
  margin-top: 40px;
  margin-bottom: 32px;
}

#projects .project-name {
  background-color: #1a2236;
  width: 100%;
  height: 156px;
  margin-top: -6px;
}

#projects .project-division > img {
  width: 100%;
  height: auto;
}

#projects h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 80%;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  padding: 20px 36px 16px 20px;
}

#projects ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 20px;
}

#projects ul li {
  color: #1a2236;
  background-color: #98dede;
  font-family: 'Poppins', sans-serif;
  font-size: 10.33px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  padding: 2.8px;
}

#projects ul .html-css {
  width: 69px;
}

#projects ul .ruby {
  width: 87px;
}

#projects ul .javascript {
  width: 74px;
}

#projects button {
  margin: 20px 122px 20px 20px;
  width: 178px;
  height: 44px;
  background-color: #1a2236;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

#about button {
  margin: 32px 16px 0 16px;
  height: 50px;
  background-color: #1a2236;
  color: #fff;
  cursor: pointer;
}

#projects button:hover {
  background-color: #fff;
  border: 1px solid #1a2236;
  color: #1a2236;
  font-size: 18px;
  line-height: 27px;
}

#about button:hover {
  background-color: #fff;
  border: 1px solid #1a2236;
  color: #1a2236;
  font-size: 18px;
  line-height: 27px;
}

#projects button:active {
  background-color: #fff;
  border: 2px solid #1a2236;
  color: #1a2236;
  font-size: 18px;
  line-height: 27px;
}

#projects .arrow-right {
  width: 20px;
  height: 15px;
  margin-left: 18px;
  color: #fff;
}

/* ==End of Projects section== */

/* ==Beginning of About section== */
#about {
  display: grid;
  padding-top: 56px;
}

#about > h2 {
  margin-left: 16px;
}

#about > p {
  margin: 20px 16px 0 16px;
}

#about button:active {
  background-color: #fff;
  border: 2px solid #1a2236;
  color: #1a2236;
  font-size: 18px;
  line-height: 27px;
}

#about .arrow-download {
  width: 24px;
  height: 18px;
  margin-left: 20px;
}

#about #Languages {
  display: flex;
  flex-direction: column;
  background-color: #1c528a;
  background-image: url("images/diese.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin: 40px 16px 0 16px;
  height: 300px;
}

.social-media h3 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 80%;
  font-weight: 300;
  font-style: normal;
  color: #92dcdc;
  padding: 20px 36px 16px 20px;
}

#about h3 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  margin-top: 50px;
  margin-left: 50px;
}

#about ul {
  margin-top: 21px;
  margin-left: 50px;
  list-style-position: inside;
}

#about ul li {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

#about #Frameworks {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #e2505c;
  background-image: url("images/ic_framework.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin: 16px 16px 0 16px;
  height: 300px;
}

#about #Skills {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #febf52;
  background-image: url("images/ic_skills.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin: 16px 16px 50px 16px;
  height: 300px;
}

/* ==End of About section== */

/* ==Beginning of Get Started section== */
#get-started {
  background-color: #f9f9fa;
}

#get-started .container {
  display: flex;
  height: 813px;
  flex-direction: column;
  justify-content: center;
}

#get-started .container > h2 {
  margin-left: 18px;
  margin-top: 32px;
  margin-bottom: 20px;
}

#get-started .container > p {
  margin: 20px 14px 32px 18px;
}

#get-started .container > form {
  display: grid;
  gap: 8px;
}

input,
textarea {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

input {
  margin-left: 18px;
  margin-right: 14px;
  padding: 4px 16px;
  height: 52px;
  border: 1px solid #dfdfe0;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  margin-left: 18px;
  margin-right: 14px;
  padding: 15px 16px;
  height: 112px;
  border: 1px solid #dfdfe0;
  background-color: #fff;
  border-radius: 4px;
  color: #7d7c84;
  resize: none;
}

.submit-form {
  margin: 20px 14px 0 18px;
  width: 92%/*350px*/;
  height: 50px;
  background-color: #1a2236;
  color: #fff;
  cursor: pointer;
}

.submit-form:hover {
  background-color: #fff;
  border: 1px solid #1a2236;
  color: #1a2236;
  font-size: 18px;
  line-height: 27px;
}

.submit-form:active {
  background-color: #fff;
  border: 2px solid #1a2236;
  color: #1a2236;
  font-size: 18px;
  line-height: 27px;
}

.social-media {
  background-color: #1a2236;
  margin-top: 64px;
  height: 190px;
}

.social-media .img-resume {
  width: 22px;
  height: 22px;
  margin-top: 33px;
  margin-left: 15px;
}

.social-media-list {
  display: flex;
  justify-content: space-between;
  gap: 29px;
  margin: 30px 16px 40px 16px;
  list-style-type: none;
}
